.city-search {
    background-color: black;
    color: white;
    height: 2rem;
    width: 20rem;
}

.city-search-label {
    display: block;
    font-size: 1.4rem;
    color: white;
}

.city-link {
    text-decoration: none;
    color: #3492eb;
    font-size: 1.3rem;
}

ul {
    list-style: none; 
}

.not-found-message {
    font-size: 1.4rem;
    color: white;
}